#login-container {
  margin-top: 5vh;
  max-width: 400px;
}

.avatar {
  display: inline;
  padding: 0.25em;
  background-color: grey;
  color: lightgrey;
  border-radius: 50%;
}

.avatar-crown {
  display: inline;
  font-size: 0.8em;
  color: var(--warning);
  position: absolute;
  top: -4px;
  left: 1.1em;
}

.star-rating .star-bright {
  color: orange;
}

#noScriptWarning {
  animation: annoyingflash 3s infinite;
}

@keyframes annoyingflash {
  0%,
  100% {
    box-shadow: 0 0 50px -50px red;
  }
  50% {
    box-shadow: 0 0 50px 50px orange;
  }
}
